#commentInfoReplyContainer {
  width: 100%;
  height: 45px;
  padding-top: 0;
  display: flex;
}

#commentInfoContainer {
  width: 100%;
  margin-top: 0;
  display: flex;
  align-items: center;
}

#userImg {
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

#userName {
  margin: 0 0 0 20px;
}

#currUserTagContainer {
  margin: 0 0 0 12px;
  padding: 0;
  background-color: #5457b6;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#currUserTagText {
  font-size: 15px;
  color: white;
  margin: 1px 5px;
}

#commentTime {
  font-size: 14px;
  color: #878787;
  margin-left: 12px;
}

#userDeleteEditContainer {
  display: flex;
}

#deleteButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}

#deleteText {
  color: #ed6468;
}

#editButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#editImg {
  width: 15px;
  height: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

#editText {
  color: #5457b6;
}

#deleteImg {
  width: 15px;
  height: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

#replyButtonContainer {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0;
  border-color: transparent;
  cursor: pointer;
}

#replyImg {
  width: 15px;
  height: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

#replyText {
  color: #5457b6;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}
