#upvoteContainer {
  width: 40px;
  height: 100px;
  margin-right: 20px;
  background-color: #f5f6fa;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

#upvoteButton {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#upvoteButton:hover #upvoteImg {
  filter: brightness(0) saturate(100%) invert(36%) sepia(22%) saturate(2068%) hue-rotate(203deg) brightness(91%) contrast(86%);
}

#upvoteImg {
  margin: 0;
  color: #c3c4ef;
  width: 15px;
  height: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

#upvoteCount {
  display: flex;
  flex: 1;
  margin: 0;
  justify-content: center;
  align-items: center;
  color: #5457b6;
  font-weight: 700;
}

#downvoteButton {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#downvoteButton:hover #downvoteImg {
  filter: brightness(0) saturate(100%) invert(36%) sepia(22%) saturate(2068%) hue-rotate(203deg) brightness(91%) contrast(86%);
}

#downvoteImg {
  margin: 0;
  color: #c3c4ef;
  width: 15px;
  height: 15px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
