#currUserContainer {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#currentUserImg {
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

#addCommentForm {
  width: 70%;
  border: 1px solid #eaecf1;
  border-radius: 5px;
  min-height: 120px;
  cursor: text;
}

#addCommentInput {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  word-wrap: break-word;
  resize: none;
  line-height: 1.5;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#addCommentInput:focus {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}

#addCommentInput:hover {
  outline: 1px solid rgba(0, 0, 0, 0.5);
}

#sendCommentButton {
  background-color: #5457b6;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  max-height: 20px;
  cursor: pointer;
}

#sendCommentButton:hover {
  opacity: 0.5;
}

#cancelCommentButton {
  background-color: #ed6468;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  max-height: 20px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

#cancelCommentButton:hover {
  opacity: 0.5;
}
